BEGIN;
ALTER TABLE "DailyStat" RENAME TO "daily_stats";
ALTER TABLE "UserWallet" RENAME TO "user_wallets";
ALTER TABLE "WalletTransaction" RENAME TO "wallet_transactions";
ALTER TABLE "ProvinceStat" RENAME TO "province_stats";
ALTER TABLE "FactionStatsCache" RENAME TO "faction_stats_caches";
ALTER TABLE "_territories_backup_20260301" RENAME TO "territories_backup_20260301";
ALTER TABLE "daily_stats" RENAME COLUMN "redCount" TO "red_count";
ALTER TABLE "daily_stats" RENAME COLUMN "blueCount" TO "blue_count";
ALTER TABLE "daily_stats" RENAME COLUMN "totalTerritories" TO "total_territories";
ALTER TABLE "daily_stats" RENAME COLUMN "createdAt" TO "created_at";
ALTER TABLE "reward_logs" RENAME COLUMN "userId" TO "user_id";
ALTER TABLE "reward_logs" RENAME COLUMN "createdAt" TO "created_at";
ALTER TABLE "reward_logs" RENAME COLUMN "referenceId" TO "reference_id";
ALTER TABLE "exp_logs" RENAME COLUMN "userId" TO "user_id";
ALTER TABLE "exp_logs" RENAME COLUMN "oldExp" TO "old_exp";
ALTER TABLE "exp_logs" RENAME COLUMN "newExp" TO "new_exp";
ALTER TABLE "exp_logs" RENAME COLUMN "createdAt" TO "created_at";
ALTER TABLE "province_stats" RENAME COLUMN "totalTerritoryArea" TO "total_territory_area";
ALTER TABLE "province_stats" RENAME COLUMN "provinceName" TO "province_name";
COMMIT;
